:root {
    --Green: #108430;
    --Dark-blue: #072545;
    --Dark-blue-tint: #203B58;
    --Mid-blue: #1879B9;
    --White: #ffffff;
    --Grey: #C2C2C2;
    --Grey-tint: #A5ADB5;
  }

* {
    font-family: 'Titillium Web', sans-serif;
    
}
body {
    overflow-x: hidden;
}

a , li {
    text-decoration: none;
    list-style: none;
    color: #072545;
}

h5 {
    font-size: 48px;
}

h6 {
    font-size: 32px;
}

p span{
    font-size: 18px;
}

.bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
  }

  .dropdown:hover .dropdown-menu{
    display: block;
    position: fixed;
    left: 0;
    padding-left: 200px;
    padding-right: 200px;    
  }

  .dropdown .dropdown-menu{
    display: none;
    margin-top: 0;
    
   
  
  }
  .dropdown-menu p {
    font-size: 14px;
  }
 
  .dropdown-menu header {
    font-weight: bold;
    padding-bottom: 30px;
  }

  .dropdown-menu {
    padding-top: 30px;
    padding-left: 84px; 
    padding-right: 44px;
    color: #072545;
  }

.dropdown-toggle::after {
    display: none !important;
}

#arrow  {
    color: rgb(255, 255, 255); 
    padding-left: 5px; 
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    top: 22px;
    
}

.dropdown:hover #arrow {
    transform: rotate(180deg);
    margin-left: 5px;
    
}
.nav-link, .nav-link:hover{
    color: white;
}

#hidden{
    opacity: 0;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    position: absolute;
    z-index: 0;
}

#hidden:hover{
    opacity: 1;
    color: white;  
}

  .cs-card{
    position: absolute;
    bottom: 20px;
    right: 20px;
   padding-left: 20px;
   padding-right: 20px;
  }

.cards-slideshow-container {
    width: 1320px;
    position: relative;
    padding: 40px 0px;
}

.cards-slideshow {
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; 
    padding-bottom: 5px; 
}
.box{
    width: 100%;
    height: 80%;
    background-color:  #203B58;
    padding: 30px;
  }
  .card-container {
    width: 600px;
    height: 524px;
    flex-shrink: 0;
    padding-right: 10px;
  }
  .slideshow-navbar{
    position: absolute;
    top: -80px;
    right: 100px; }
  
.cards-slideshow-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cards-slideshow::-webkit-scrollbar {
    display: none;
}



  